@wp-img-m:      10px;
@wp-img-m-wide: 20px;

// 특성 이미지 및 글 이미지
.post-thumbnail { display: block }
.wp-post-image,
.wp-caption { .img-responsive() }

// 캡션이 있는 이미지
.wp-caption,
.entry-attachment {
	color: @gray-light;
	margin-bottom: (1.5 * @wp-img-m);
	img {
		display: block;
		margin: 0;
	}
	.wp-caption-text,
	.entry-caption {
		.font-size(12);
		line-height: 1.5;
		margin: (0.5 * @wp-img-m) 0;
		padding-right: @wp-img-m;
	}
}

// 공통 요소
//== 정렬
.alignleft {
	clear: left;
	float: left;
	margin: @wp-img-m @wp-img-m-wide @wp-img-m 0;
}
.alignright {
	clear: right;
	float: right;
	margin: @wp-img-m 0 @wp-img-m @wp-img-m-wide;
}
.aligncenter {
	.center-block;
	margin-top:    @wp-img-m;
	margin-bottom: @wp-img-m;
}

//== 정렬: 인용
blockquote {
	&.alignleft,
	&.alignright {
		padding-top: @wp-img-m-wide;
		width: 50%;
		p { margin-bottom: @wp-img-m-wide }
	}
}

//== 갤러리
@wp-gallery-m: 4px;
.gallery {
	&:extend(.clearfix all);
	margin-bottom: @wp-img-m-wide;
}
.gallery-item {
	display: inline-block;
	padding: 2%;
	text-align: center;
	vertical-align: top;
	width: 100%;
}
.gallery-icon img {
	.center-block;
}
.gallery-columns(9);
.gallery-columns(@n, @i: 1) when (@i =< @n) {
  .gallery-columns-@{i} .gallery-item {
    max-width: (100% / @i);
  }
  .gallery-columns(@n, (@i + 1));
}
