@wp-img-margin: 10px;

// 정렬
.alignleft {
	clear: left;
	float: left;
	margin: @wp-img-margin (2 * @wp-img-margin) @wp-img-margin 0;
}
.alignright {
	clear: right;
	float: right;
	margin: @wp-img-margin 0 @wp-img-margin (2 * @wp-img-margin);
}
.aligncenter {
	clear: both;
	.center-block;
	margin-top:    @wp-img-margin;
	margin-bottom: @wp-img-margin;
}

// 인용
blockquote {
	&.alignleft,
	&.alignright {
		margin-top:    (2 * @wp-img-margin);
		margin-bottom: (2 * @wp-img-margin);
		width: 50%;
	}
}

// 특성 이미지
.post-thumbnail {
	display: block;
}

// 캡션
.wp-caption {
	max-width: 100%;
}
.wp-caption-text,
.entry-caption,
.gallery-caption {
	.12px;
	.text-light;
	margin-bottom: @wp-img-margin;
	padding: (0.5 * @wp-img-margin) 0;
}

// 갤러리
.gallery {
	&:extend(.clearfix all);
	margin-bottom: (2 * @wp-img-margin);
}
.gallery-item {
	display: inline-block;
	padding: 2%;
	text-align: center;
	vertical-align: top;
	width: 100%;
}
.gallery-icon img {
	.center-block;
}
.gallery-columns(9);
.gallery-columns(@n, @i: 1) when (@i =< @n) {
  .gallery-columns-@{i} .gallery-item {
    max-width: (100% / @i);
  }
  .gallery-columns(@n, (@i + 1));
}
